<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base_css.css') }}">
    <style>
        h1 {margin-top: 10%;
        margin-bottom: 7.5%;}
    </style>
</head>

<body>
    <a href="/">Home</a>
    <div class="center">

        <h1>Enter a musical artist to find similar artists</h1>

        <form id="form" action="/similar_artists_result" method="post">
            <label for="query">Enter Query:</label>
            <input type="text" id="query" name="query" required>
            <input type="submit" value="Submit">
        </form>

    </div>


</body>

</html>